<div class="list">
    <div *ngFor="let value of posts;let i=index;" (click)="openLink(value.story_url || value.url, $event)" class="item">
        <span class="title">{{ value.story_title || value.title }}</span>
        <span class="author">- {{ value.author }} -</span>
        <span class="created">{{ value.created_at }}</span>
        <img (click)="deleteRecord(value._id)" class="delete" src="assets/trash.png" alt="Delete">
    </div>
    <div *ngIf="posts.length<=0" class="empty">
        No posts available yet.
    </div>
</div>