.list{
    .item{
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        padding: 1.25rem 1rem;
        display: flex;
        &:hover{
            background-color: #fafafa;
            cursor: pointer;
        }
        .title, .created{
            color: #333;
            font-size: 13px;
        }
        .title{
            margin-right: 0.5rem;
        }
        .author{
            color: #999;
            font-size: 12px;
        }
        .created{
            margin-left: auto;
            margin-right: 3rem;
        }
        .delete{
            height: 1rem;
        }
    }
    .empty{
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        padding: 1.25rem 1rem;
        font-weight: 400;
    }
}