.header{
    padding: 3rem 2.5rem 4rem 2.5rem;
    background-color: #004A7C;
    color: #E8F1F5;
    .title{
        font-size: 5rem;
        font-weight: 700;
    }
    .subtitle{
        margin-top: -0.5rem;
        padding: 0rem 0.25rem;
        font-size: 1.75rem;
        font-weight: 500;
    }
}